.card {
	margin-top: 20px;
	border: $borderWidth solid $borderColor;
	/* Set card height,width same as image. Got this property from postcss-assets */
	width: width("hero.jpg");
	height: height("hero.jpg");
	background-image: resolve("hero.jpg");
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	h2 {
		color: blanchedalmond;
		font-size: 2rem;
	}
}
